<h2> Login </h2>

{{#if errorMessage}}
  <p> {{ errorMessage }} </p>
{{/if }}

<form action="/auth/login" method="post">
  <label> Username:
    <input type="text" name="username" />
  </label>

  <label> Password:
    <input type="text" name="pw" :>
  </label>

  <button type="submit"> Login </button>
</form>