<form action="" method="post">
  <label> Username:
    <input type="text" name="username" />
  </label>

  <label> Password:
    <input type="text" name="password" :>
  </label>

  <button type="submit"> Sign up </button>
</form>