{{#if errorMessage}}
  <p> {{ errorMessage }} </p>
{{/if }}

<form action="/auth/signup" method="post">
  <label> Username:
    <input type="text" name="username" />
  </label>

  <label> Password:
    <input type="text" name="pw" :>
  </label>

  <button type="submit"> Sign up </button>
</form>